:root {
    --base: #33BB99;
    --btnLight: #119999;
    --btnLightHover: #22AAAA;
    --btnLightActive: #008888;
    --btnDark: #005555;
    --btnDarkHover: #227777;
    --btnDarkActive: #003333;
    --screenBg: #FFFFFF;
    --screenText: #001122;
    --btnText: #FFFFFF;
    --bgGradient: linear-gradient(113.96deg, #EEBBFF 0%, #AAAAFF 100%);
}

body {
    height: 100vh;
    font-family: 'Space Mono', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bgGradient);
}

.main {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 32px 64px rgba(0, 17, 102, 0.2);
    width: 280px;
    word-wrap: break-word;
}

.buttons {
    background-color: var(--base);
    padding: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.screen {
    background-color: var(--screenBg);
    color: var(--screenText);
    padding: 40px 48px 40px 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 32px;
    font-weight: 400;
    min-height: 38px;
    text-align: right;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    height: 48px;
    width: 48px;
    cursor: pointer;
    border: none;
    color: var(--btnText);
}

.equalBtn {
    grid-column-start: 3;
    grid-column-end: 5;
    width: auto;
}

.numberBtn {
    background-color: var(--btnLight);
}

.actionBtn {
    background-color: var(--btnDark);
}

.numberBtn:hover {
    background-color: var(--btnLightHover);
}
.numberBtn:active {
    background-color: var(--btnLightActive);
}
.actionBtn:hover {
    background-color: var(--btnDarkHover);
}
.actionBtn:active {
    background-color: var(--btnDarkActive);
}